{% extends "layout.html" %}
{% block aboutactive %}active{% endblock %}
{% block content %}
<div class="container">
    <div class="message">
        <p>
            Al Slam Alykom   , this web app make you follow your skills and its progress.
             you can update your progress of your skills and make describtion for each skill.
        </p>
        <div class="dashboard">
    <h3>your dashboard contains:-</h3>
        <ul>
            <li>Your email</li>
            <li>Your Skills</li>
            <li>Your progress</li>
            <li>Your describtion</li>
        </ul>
    </div>
  <div class="contact-us">
   <h2> Contact Us <i class="bi bi-telephone"></i> :- </h2>
   <div class="links">
    <a href="">linked in</a>
    <a href="">github</a>
    <a href="">gmail</a>
    <span><label for="tel">tel:</label><a href="tel:+201062303374">01062303374</a></span>
   </div>
  </div>
</div>
</div>
<br/>
{% endblock content %}