{% extends "layout.html" %}
{% block content %}
<div class="container5">
    <div class="message">
        <p>
            Al Slam Alykom   , this web app make you follow your skills and its progress.
             you can update your progress of your skills and make describtion for each skill.
        </p>
        <div class="dashboard">
    <h3>your dashboard contains:-</h3>
        <ul>
            <li>Your email</li>
            <li>Your Skills</li>
            <li>Your progress</li>
            <li>Your describtion</li>
        </ul>
    </div>
  <div class="contact-us">
    <p><h2> Contact Us <i class="bi bi-telephone"></i> :- </h2><span>01062303374</span></p>
  </div>
</div>
</div>
<br/>
{% endblock content %}