:root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-transition:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --Section-background:#ececec;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin: 100px auto;
}
.container img{
    border-radius: 50px;
    max-width: 100%;
    background-color: rgb(166, 177, 177);
    
}
.container p{
    color: #2196f3;
    font-size: 20px;
}
footer {
    width: 100%;
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-top: 60px;
  }
  