select{
    width: 100%;
    padding: 10PX;
    display: block;
    margin: 20px auto;
}
footer {
    width: 100%;
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-top: 60px;
  }
  